<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
function pobierz_drzwi(){
 var http_request = new XMLHttpRequest();
 var url = "http://192.168.0.23:80/_drzwi"; 

 
 http_request.onreadystatechange = handle_json;
 http_request.open("GET", url);
 http_request.send(null);

 function handle_json() {
        if (http_request.readyState == 4) {
                if (http_request.status == 200) {
                        var json_data = http_request.responseText; 
                        var the_object = eval("("+json_data+")");  
				document.getElementById("drzwi").innerHTML = json_data;
                } else {
                        alert('Wystąpił problem z wybranym adresem URL.');
                }
                http_request = null;
        	  }
 }
}

function pobierz_okno(){
 var http_request = new XMLHttpRequest();
 var url = "http://192.168.0.23:80/_okno"; 
 http_request.onreadystatechange = handle_json;
 http_request.open("GET", url);
 http_request.send(null);

 function handle_json() {
        if (http_request.readyState == 4) {
                if (http_request.status == 200) {
                        var json_data = http_request.responseText; 
                        var the_object = eval("("+json_data+")");  
				document.getElementById("okno").innerHTML = json_data;
                } else {
                        alert('Wystąpił problem z wybranym adresem URL.');
                }
                http_request = null;
        	  }
 }
}

function pobierz_temp(){
 var http_request = new XMLHttpRequest();
 var url = "http://192.168.0.23:80/_temp"; 
 http_request.onreadystatechange = handle_json;
 http_request.open("GET", url);
 http_request.send(null);

 function handle_json() {
        if (http_request.readyState == 4) {
                if (http_request.status == 200) {
                        var json_data = http_request.responseText; // pobranie tekstu
                        var the_object = eval("("+json_data+")");  // zamiana tekstu na obiekt JSON
				document.getElementById("temp").innerHTML = json_data;
                } else {
                        //alert('Wystąpił problem z wybranym adresem URL.');
                }
                http_request = null;
        	  }
 }
} 

function pobierz_wilg(){
 var http_request = new XMLHttpRequest();
 var url = "http://192.168.0.23:80/_wilg"; 
 http_request.onreadystatechange = handle_json;
 http_request.open("GET", url);
 http_request.send(null);


 function handle_json() {
        if (http_request.readyState == 4) {
                if (http_request.status == 200) {
                        var json_data = http_request.responseText; // pobranie tekstu
                         var the_object = eval("(" +json_data+")");  // zamiana tekstu na obiekt JSON
				document.getElementById("wilg").innerHTML = json_data;
                } else {
                        //alert('Wystąpił problem z wybranym adresem URL.');
                }
                http_request = null;
        	  }
 }
} 
</script>
</head>
<body>

 <h1>Zarzadzanie inteligentnym domem</h1>

<h2> Drzwi wejsciowe</h2>
<div id="drzwi">Drzwi wejsciowe</div>

<h2> Okno</h2>
<div id="okno">Okno</div>

<h2> Temperatura</h2>
<div id="temp">Temperatura</div>

<h2> Wilgotnosc</h2>
<div id="wilg">Wilgotnosc</div>


	{% for pin in pins %}
   <h2>{{ pins[pin].name }}
   {% if pins[pin].state == false %}
      jest <strong>wlaczone</strong></h2><div class="row"><div class="col-md-2">
      <a href="/{{pin}}/off" class="btn btn-block btn-lg btn-default" role="button">Wylacz swiatlo</a></div></div>
   {% else %}
      jest <strong>wylaczone</strong></h2><div class="row"><div class="col-md-2">
      <a href="/{{pin}}/on" class="btn btn-block btn-lg btn-primary" role="button">Wlacz swiatlo</a></div></div>
   {% endif %}
   {% endfor %}

</body>
<script>
function podmiana(){
	pobierz_drzwi();
	pobierz_okno();
	pobierz_temp();
	pobierz_wilg();
	setTimeout(podmiana,1000);
}


podmiana();
</script>
</html>
